<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robbie9</title>
</head>
<body>
    <h1>Robbie9 Application!</h1>

    <h2> Meet Robbie 9, our warehouse robot.</h2>
    <h3> The purpose of the project is:</h3>
    <ul>
        <li> development of a module to control the robot</li>
        <li> saving and processing of images in Cloud</li>
        <li> exposure of events through WebSockets.</li>
        <li>development of a web application to control the robot </li>
    </ul>
    <h3>Until now, there's nothing much to see, but we'll wait for you to come back later ;)</h3>
</body>
</html>